.container {
    border: solid black 2px;
    width: 300px;
    height: auto;
    border-radius: 25px;
    
}

.todoInput, h2 {
    position: relative;
    margin-bottom: 5px;
    left: 25px;
}
.todo {
    display: flex;
}

.todo div {
    flex-grow: 1;
    display: flex;
    
}


